* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
nav {
  display: flex;
  justify-content: end;
  background-color: black;
}
header {
  position: sticky;
  top: 0px;
}
body {
  background-color: black;
  color: white;
}

nav a {
  text-decoration: none;
  margin: 25px;
  z-index: 1;
  position: sticky;
  top: 10px;
  color: rgb(238, 236, 236);
}
nav a {
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
}
nav a:hover {
  border-bottom: 2px solid;
  padding: 5px;
}
section {
  height: 850px;
}
.sectionh2 {
  font-size: 70px;
  margin-top: 50px;
}
/* Container1 */

.container1 {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
  /* align-items: center; */
}
.container1 div {
  width: 50%;
  padding: 80px;
}
.profile_img img {
  width: 400px;
  margin-left: 70px;
  border-radius: 30px;
}
.about_me {
  padding-left: 100px;
}
.about_me h1 {
  font-size: 100px;
}
.about_me p {
  margin: 100px 0px;
  font-size: 25px;
  padding: 20px 25px;
  border: 1px solid white;
  border-radius: 40px;
  display: inline-block;
}
.about img {
  height: 300px;
  width: 300px;
}
section h2 {
  font-size: 70px;
  margin: 70px 40px;
}
.about p {
  font-size: 30px;
  margin: 50px 40px;
  padding: 50px;
  width: 70ch;
  margin-left: 70px;
}
.Education {
  display: flex;
}
.Education ul {
  font-size: 40px;
  margin: 40px 50px;
  padding: 40px 40px;
  top: 30px;
  display: inline-block;
}
.Education img {
  height: 300px;
  width: 300px;
  gap: 20px;
  margin-left: 100px;
  padding: 10px;
  border-radius: 40px;
}
.skills {
  display: flex;
  justify-content: space-around;
}
.skills img {
  height: 350px;
  width: 300px;
  margin-top: 50%;
}
.hobbies {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.hobbies img {
  width: 280px;
  height: 350px;
}
.hobbies p {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
#hobbies {
  scroll-margin-top: 70px;
}
#SKills {
  scroll-margin-top: 85px;
}
#Education {
  scroll-margin-top: 70px;
}
#about {
  scroll-margin-top: 70px;
}
#contact {
  scroll-margin-top: 95px;
}
#project {
  scroll-margin-top: 65px;
}
.Contact {
  font-family: "Playfair Display", system-ui;
  font-size: 70px;
  padding: 50px;
  margin: 50px;
}
.tack {
  font-size: 250px;
  text-align: center;
  color: gray;
}
.social {
  margin-top: 100px;
  color: white;
  margin-left: 450px;
  text-decoration: none;
}
.social a {
  text-decoration: none;
  color: white;
  border: 1px solid;
  padding: 10px;
  font-size: 25px;
  margin: 20px;
  border-radius: 30px;
}
.Project {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.pro1 p {
  color: white;
}
.pro1 a {
  text-decoration: none;
}
.pro1 img {
  width: 380px;
  height: 280px;
  margin: 0px 100px;
  padding: 10px;
}
.img {
  display: flex;
  justify-content: space-around;
}
.pro1 a {
  display: flex;
  flex-direction: column;
}
.pro1 a {
  text-align: center;
  color: white;
  font-size: 30px;
}
.board img {
  height: 280px;
  width: 400px;
  margin-left: 100px;
  align-items: center;
  margin-left: 550px;
  margin-top: 100px;
}
.board p {
  text-align: center;
  color: white;
  font-size: 30px;
}
.board a {
  text-decoration: none;
}
